/*************************************
GENERAL
*************************************/

#wrapper {
  max-width: 940px;
  padding: 0 5%;
  margin: 0 auto;
  font-size: 1.5em;
}

body {
  font-family: 'Nixie One', sans-serif;
  font-size: 0.7em;
  font-weight: 900;
}

.nameHeading {
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 85px;
  font-weight: 100;
  color: #404040;
  margin-top: -40px;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

ul {
  list-style-type: none;
}
/*************************************
HEADING
*************************************/

header {
  float: left;
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Nixie One', sans-serif;
  color: #000;
  margin: 15px 0;
  line-height: 2em;
}


/*************************************
NAVIGATION
*************************************/

nav {
  text-align: center;
  margin: 20px 0;
}

nav ul {
  list-style: none;
  margin: 0 20px;
  padding: 0 0 15px 0;
}

nav li {
  display: inline-block;
  font-family: 'Nixie One', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

nav a, nav a:visited {
  color: #777;
  padding: 30px 20px;
}

nav a.selected {
  color: #000;
  background: url('../img/feather3.png') no-repeat center 50px;
  padding: 40px 20px;
}

.notSelected:hover {
  color: #000;
  background: url('../img/feather4.png') no-repeat right 50px;
  padding: 40px 20px;
}

/*************************************
FOOTER
*************************************/

footer {
  font-size: 0.85em;
  text-align: center;
  padding: 20% 0 0 0;
}

.social-icon {
  opacity: 0.3;
  width: 35px;
  height: auto;
  margin: 0 5px;
}


/*************************************
PAGE: PORTFOLIO
*************************************/

#kitten {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*************************************
PAGE: INDEX/ABOUT
*************************************/


/*************************************
PAGE: CONTACT
*************************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.mail a{
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a{
  background-image: url('../img/twitter.png');
}

/*************************************
COLORS
*************************************/


html {
  background-color: #d3e8e9;
  background-image: url('../img/main-feather1.jpg');
  background-repeat: no-repeat;
}

a {
  color: #222;
  text-decoration: none;
}

#main {
  width: 68.5%;
  margin: 0 2.5% 30px 0;
  display: block;
  float: left;
  height: 100%;
  background: rgba(255,255,255, 0.5);
  border-radius: 10px;
}

#main .content a {
  text-decoration: underline;
}

.content {
  margin: 20px;
}

#skills {
  width: 29%;
  display: block;
  float: right;
  height: 100%;
  background: rgba(255,255,255, 0.5);
  border-radius: 10px;
  margin-bottom: 30px;
}

.footerLinks {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}
