

@media screen and (min-width: 990px) {

  /*************************************
  HEADER
  *************************************/
  nav {
    background: none;
    float: right;
    padding: 5px 0 0;
  }

  #logo {
    float: left;
    margin-left: 5%;
    padding: 0;
  }
}

@media screen and (max-width: 989px) {
  .nameHeading {
    height: 130px;
  }
}

@media screen and (max-width: 659px) {
  .nameHeading {
    font-size: 60px;
    margin-top: -25px;
    margin-bottom: 0;
    height: 100px;
  }

  #main {
    width: 100%;
  }


  #skills {
    width: 100%;
}

@media screen and (max-width: 400px) {
  .nameHeading {
    font-size: 43px;
    margin-top: 0;
    margin-bottom: 0;
    height: 75px;
  }
}

@media screen and (max-width: 355px) {
  nav a, nav a:visited {
    padding: 30px 7px;
  }

  nav a.selected {
    padding: 40px 7px;
  }

  .notSelected:hover {
    padding: 40px 7px;
  }
}
